<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/sys" />
        <property name="username" value="root" />
        <property name="password" value="manager" />
    </bean>

    <bean id="empDAO" class="com.nt.dao.EmployeeDAO" >
        <constructor-arg name="ds" ref="drds" />
    </bean>

    <bean id="empService" class="com.nt.service.EmployeeServiceMgmt" >
        <constructor-arg name="dao" ref="empDAO" />
    </bean>

    <bean id="controller" class="com.nt.controller.MainController">
        <constructor-arg name="service" ref="empService" />
    </bean>

</beans>